body {
  font-family: "Mulish", sans-serif;
  padding: 0px 64px;
}

h2 {
  font-weight: 700;
  margin: 0;
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}
Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 24px;
}

.bottom-card-title {
  font-size: 2.5rem;
  text-align: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.logo {
  font-size: 24px;
  font-weight: 800;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.card {
  border-radius: 12px;
  padding: 5px 5px;
  background-color: #e5e4df;
  display: flex;
  align-items: center;
}

button {
  margin-top: 48px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 16px;
  font-size: 1rem;
  padding: 12px 24px;
}
.card-one-content {
  flex: 1;
}
img {
  width: 100%;
  height: 100%;
  flex: 1;
}
.bottom-container > * {
  flex: 1;
}
.card-two {
  flex-direction: column;
  align-items: center;
  background-color: #d4a27f;
  padding: 160px 60px;
}

.bottom-container {
  display: flex;
  gap: 48px;
}
